<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title th:text="#{app.title}">app.titleが表示される</title>
	<link th:href="@{/css/cinemas.css}" rel="stylesheet">
</head>

<body>
	<div style="text-align:center">
	<h1>ログイン画面</h1>

	<p>ユーザーIDとパスワードを入力してください。</p>
	<!-- controllerのpost、/cinemaMutterにobjectに格納した値を飛ばす処理 -->
	<form th:action="@{/loginPass}" method="post" th:object="${sessionForm}">

		<!-- input内容をuser_id,passに格納 照合してログインする -->
		<!--*{フィールド名}に入力された値 をsessionFormのフィールドに値を格納-->
		<label>
			<span class="textbox-002-label">ユーザーID</span><br/>
			<input type="text" class="textbox-002" th:field="*{user_id}" placeholder="ユーザーID" />
		</label><br />

		<label>
			<span class="textbox-002-label">パスワード </span><br/>
			<input type="text" class="textbox-002" th:field="*{password}" placeholder="パスワード" />
		</label><br/>

		<!-- 入力され格納された値をloginPassメソッドに処理を飛ばすボタン -->
		<input type="submit" value="ログイン">
	</form>
	<!-- registerメソッドに処理を飛ばす -->
	<a th:href="@{/register}">新規ユーザー登録はこちら</a>
	</div>
</body>

</html>