<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymleaf/layout"
	layout:decorate="~{common/layout}">

<head>
	<meta charset="UTF-8">
	<title th:text="#{app.title}">app.titleが表示される</title>
	<link th:href="@{/css/cinemas.css}" rel="stylesheet">
</head>

<body>
	<div th:replace="common/layout::header1"></div>
	<div align="center">
		<h1>新規ユーザー登録</h1>
		<p th:if="${registerResult} == '入力したユーザー情報は既に登録済みです。'" th:text="${registerResult}" style="color: red" ;>
			登録済みだったら表示</p>

		<form th:action="@{/registerCheck}" method="post" th:object="${accountForm}">
			<!-- 	入力値をaccountForm格納、controllerの/registerCheckに飛ぶ処理 -->
			<p>※ 全項目の入力は必須です ※</p>
			<table>
				<tr>
					<td>
						<label>ユーザーID : </label>
					</td>
					<td><input type="text" th:field="*{user_id}"></td>
				</tr>
				<tr>
					<td>
						<label>ユーザー名 : </label>
					</td>
					<td><input type="text" th:field="*{user_name}"></td>
				</tr>
				<tr>
					<td>
						<label>パスワード : </label>
					</td>
					<td><input type="password" th:field="*{password}"></td>
				</tr>
				<tr>
					<td>
						<label> 名前: </label>
					</td>
					<td><input type="text" th:field="*{name}"></td>
				</tr>
				<tr>
					<td>
						<label>メール : </label>
					</td>
					<td><input type="email" th:field="*{mail}" required></td>
			</table>

			<input type="submit" value="登録"><br />
			<a th:href="@{/top}">トップへ</a><br />

			<!-- #でBindingResultオブジェクトを指定している -->
			<!-- hasErrors('フィールド名')で、フィールドごとのエラーを抽出できる -->
			<p th:if="${#fields.hasErrors('user_id')}" th:text="${#fields.errors('user_id')}"></p>
			<p th:if="${#fields.hasErrors('user_name')}" th:text="${#fields.errors('user_name')}"></p>
			<p th:if="${#fields.hasErrors('password')}" th:text="${#fields.errors('password')}"></p>
			<p th:if="${#fields.hasErrors('name')}" th:text="${#fields.errors('name')}"></p>
			<p th:if="${#fields.hasErrors('mail')}" th:text="${#fields.errors('mail')}"></p>
		</form>
	</div>
</body>

</html>